# Python Numbers 

In Python, the data type is set when you assign a value to a variable

In [3]:
x = "Hello World"
print(type(x))

<class 'str'>

In [4]:
x = 20
print(type(x))

<class 'int'>

In [5]:
x = 20.5
print(type(x))

<class 'float'>

In [6]:
x = 1j
print(type(x))

<class 'complex'>

In [15]:
x = ["apples", "oranges","cherries"]
print(type(x))
print(x)

<class 'list'>
['apples', 'oranges', 'cherries']

In [14]:
x = ("apples", "oranges","cherries")
print(type(x))
print (x)

<class 'tuple'>
('apples', 'oranges', 'cherries')

In [13]:
x = range(6)
print(type(x))
print (x)

<class 'range'>
range(0, 6)

In [12]:
x = {"name" : "John", "age" : 36}
print(type(x))
print (x)

<class 'dict'>
{'name': 'John', 'age': 36}

In [16]:
x = {"apples", "oranges","cherries"}
print(type(x))
print (x)

<class 'set'>
{'oranges', 'apples', 'cherries'}

In [17]:
x = frozenset({"apples", "oranges","cherries"})
print(type(x))
print (x)

<class 'frozenset'>
frozenset({'oranges', 'apples', 'cherries'})

In [18]:
x = True
print(type(x))
print (x)

<class 'bool'>
True

In [19]:
x = b"Hello"
print(type(x))
print (x)

<class 'bytes'>
b'Hello'

In [20]:
x = bytearray(5)
print(type(x))
print (x)

<class 'bytearray'>
bytearray(b'\x00\x00\x00\x00\x00')

In [21]:
x = memoryview(bytes(5))
print(type(x))
print (x)

<class 'memoryview'>
<memory at 0x7fb9b0e694c8>

# Type Conversion 


You can convert from one type to another with the int(), float() and complex() methods:

Note: you cannot covert complex numbers into another number type.

In [23]:
x = 1 #int 
y = 2.8 #float 
z = 1j #complex 

#convert from int to float 
a = float(x)

#convert from int to complex 
b = int(y)

#convert from int to complex 
c = complex(x)

print(a)
print(type(a))

print(b)
print(type(b))

print(c)
print(type(c))

1.0
<class 'float'>
2
<class 'int'>
(1+0j)
<class 'complex'>

Random Number : Python doesnot have a random() function to make random number, but Python has a built in module called random that can be used to make random numbers:

In [24]:
import random

print (random.randrange(1,10))

8