# Python Operators

Operators are used to perform operations on variables and values. Python divides the operators in the following groups:

Arithmetic 

Assignment 

Comparison 

Logical 

Identity 

Membership

Bitwise

# Arithmetic Operators 

These are used with numeric values to perform common mathematical operations.

In [2]:
# Addition 

x = 20
y = 5

x + y

25

In [3]:
# Subtraction 

x - y

15

In [4]:
# Multiplication 

x * y

100

In [5]:
# Division 

x / y

4.0

In [6]:
# Modulus 

x % y

0

In [7]:
# Exponentiation 

x ** y

3200000

In [8]:
# Floor Division 

x // y

4

# Python Assignment Operators 

These are used to assign values to variables :

In [ ]:
x = 5          # x is equal to 5 
x += 3         # x = x + 3 
x -= 3         # x = x - 3 
x *= 3         # x = x * 3 
x /= 3         # x = x/3 
x %= 3         # x = x % 3
x //= 3        # x = x // 3 
x **= 3        # x = x ** 3 
x &= 3         # x = x & 3 
x |= 3         # x = x | 3 
x ^= 3         # x = x ^ 3 
x >>= 3        # x >> 3 
x <<= 3        # x << 3

# Comparison Operators 

These are used to compare two values:

In [ ]:
# Equal 

x == y 

# Not Equal 

x != y 

# Greater than 

x > y 

# less than 

x < y 

# Greater than or equal to 

x >= y 

# Less than or equal to 

x <= y

# Logical Operators 

These are used to combine conditional statements

In [9]:
x = 2

# and 

x < 5 and x < 10    # Returns True if both statements are true

True

In [10]:
# or 

x < 5 or x < 4   # Returns True if one of the statement is true

True

In [11]:
# not 

not(x < 5 and x < 10 )  # Reverse the result, returns False if the result is true

False

# Identity Operators 

These are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

In [12]:
x = y = 2 

x is y     # Returns True if both variables are the same objects

True

In [13]:
x is not y   # Returns True if both variables are not the same object

False

# Membership Operators 

These are used to test is a sequence is presented in an object:

In [14]:
x = 2 

y = (3,2)

# returns True if a sequence with the specified value is present in the object 

x in y

True

In [15]:
x = 2
y = (4,5)

# returns True if a sequence with the specified value is not present in the object 

x not in y

True

# Bitwise Operators 

These are used to compare binary numbers:

(&) AND: Sets eact bit to 1 if both bits are 1 

(|) OR: Sets each bit to 1 if one of the two bits is 1 

(^) XOR: Sets each bit to 1 if only one of the two bits is 1 

(~) NOT: Inverts all the bits 

(<<) Zero fill: Shift left by pushing zeros in from the right and let the leftmost bits fall off

(>>) Right fill: Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off