# Set

Sets are used to store multiple items in a single variable. It is a set of collection which is unordered, unchangeable(but we can add and remove items) and unindexed.They also dont allow duplicates. Sets are written by curly brackets.

**Unordered** : The items in a set do not have a defined order. They can appear in a different order everytime we use and cant be referred to by index or key.

**Unchangeable** : It means that we cannot change the items after the set has been created, but we add and remove.

**Duplicates not allowed** : Sets cannot have two items with the same value.

In [1]:
myset ={"apple","banana","cherry"}
print(myset)

# Sets are unordered so you cant be sure how they will appear.

{'apple', 'banana', 'cherry'}

In [2]:
#Duplicates will be ignored

myset ={"apple","banana","cherry","apple","banana","cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

# Get the length of a set 

We will use len() method to determine how many items are there in a set.

In [3]:
myset ={"apple","banana","cherry"}
print(len(myset))

3

# Data Types 

Sets can be of Strings, integer or boolean data types.

In [4]:
myset1 = {"apple","banana","cherry"}
myset2 = {1,2,3,4,5,6}
myset3 = {True, False, True}

print(myset1)
print(myset2)
print(myset3)

{'apple', 'banana', 'cherry'}
{1, 2, 3, 4, 5, 6}
{False, True}

# Type ( )

In Python, the sets are defined as objects with the data type "set"

<<class 'set'>>

In [5]:
# Data type 
myset1 = {"apple","banana","cherry"}
myset2 = {1,2,3,4,5,6}
myset3 = {True, False, True}

print(type(myset1))
print(type(myset2))
print(type(myset3))

<class 'set'>
<class 'set'>
<class 'set'>

# The set( ) Constructor

It is also possible to use the set() constructor to make a set.

In [ ]:
myset =set(("apple","banana","cherry")) #using two round brackets
print((myset))

# Access Set Items 

You cannot access items in a set by referring to an index or a key. But we can loop through the set items using for loop or ask if a specified value is present in a set, by using the in keyword.

In [7]:
# Loop through the set, and print the values

myset ={"apple","banana","cherry"}

for x in myset:
    print(x)

apple
banana
cherry

In [9]:
#Check if "banana" is present in the set

myset ={"apple","banana","cherry"}
print("banana" in myset)

True

# Add Items 

Once a set is created, you cannot change it but we can add items to it.

In [10]:
#To add one item to a set 

myset ={"apple","banana","cherry"}
myset.add("orange")
print(myset)

{'apple', 'orange', 'banana', 'cherry'}

# Add Sets 

To add items from another set into the current set, use the update () method.

In [12]:
#Add elements from tropical to myset

myset ={"apple","banana","cherry"}
tropical = {"pineapple","mango","papaya"}

myset.update(tropical)

print(myset)

{'papaya', 'pineapple', 'mango', 'banana', 'cherry', 'apple'}

# Add any iterable 

The object in the update () method doesnot have to be a set, it can be any iterable object like tuples, lists, disctonaries etc

In [13]:
#Add elements of a list to a set 


myset = {"apple","banana","cherry"}
mylist = ["kiwi","orange"]
myset.update(mylist)
print(myset)

{'banana', 'cherry', 'kiwi', 'orange', 'apple'}

# Remove Item

To remove an item in a set, use the remove() or the discard() method.

In [14]:
#Remove "banana" by using remove 

myset ={"apple","banana","cherry"}
myset.remove("banana")
print(myset)

# if the remove item doesnt exsist, then remove () method will raise an error.

{'apple', 'cherry'}

In [15]:
#Remove "banana" by using discard method 

myset ={"apple","banana","cherry"}
myset.discard("banana")
print(myset)

{'apple', 'cherry'}

The pop () can be used to remove an item. It will remove the last item from the set but since the sets are unordered so you wouldnt know which item will be removed.

In [17]:
myset ={"apple","banana","cherry"}
x = myset.pop()
print(x)
print(myset)

apple
{'banana', 'cherry'}

The clear () method will empty the set

In [18]:
myset ={"apple","banana","cherry"}
myset.clear()
print(myset)

set()

The del keyword will delete the set completely and it will give an error if yoy will recall the deleted set.

In [ ]:
myset ={"apple","banana","cherry"}
del myset
print(myset)

# Loop Sets

You can loop through the set by using the for loop.

In [19]:
myset ={"apple","banana","cherry"}

for x in myset:
    print(x)

apple
banana
cherry

# Join two Sets 

There are several ways to join the two or more sets. We can use **union( )** that returns a new set containing all items from both sets, or the **update( )** method that inserts all the items from one set into another.

In [20]:
#Using union() method

set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

set3 = set1.union(set2)

print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#Using update method 

set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

set1.update(set2)

print(set1)

Both union ( ) and update ( ) methods with exclude any duplicate items.

# Keep only the Duplicates 

The intersection_update ( ) method will keep only the item present in both sets.

In [22]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7,8,9,10}

set1.intersection_update(set2)

print(set1)

{3, 4, 5}

The intersection( ) method will return a new set that will contains the items that are present in both sets alongwith the first set.

In [24]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

set1.intersection(set2)

print(set1)

{'apple', 'banana', 'cherry'}

# Keep all, But not the Duplicates

The symmetric_difference_method( ) will keep only the elements that are not present in both sets.

In [25]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'cherry', 'google', 'microsoft'}

The symmetric_difference ( ) method will return a new set, that contains all items from both the sets except items that are present in both:

In [26]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

set1.symmetric_difference(set2)

print(set1)

{'apple', 'banana', 'cherry'}

# Set Methods 

Python has a lot of built in methods that can be used on sets:

# add( )

It adds an element to a set.If the specified elemnent is already in the set, it will not add it.

**Syntax**

set.add(elmnt)

**Parameter**

Element is required that is to be added to the set.

In [27]:
set1 = {"apple","banana","cherry"}
set1.add("orange")
print(set1)

{'apple', 'orange', 'banana', 'cherry'}

# clear( )

It removes all the elements from the set.

**Syntax**

set.clear()

**Parameter**

No parameters.

In [28]:
set1 = {"apple","banana","cherry"}
set1.clear()
print(set1)

set()

# copy ( )

It copies a set.

**Syntax**

set.copy()

**Parameter**

No parameters required.

In [30]:
set1 = {"apple","banana","cherry"}
x = set1.copy()
print(x)

{'apple', 'banana', 'cherry'}

# difference( )

It returns a new set that contains the difference between two sets. i.e items that exsists only in the first set and not in both sets.

**Syntax**

set.difference(set)

**Parameter**

Required set to check the difference.

In [32]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

x = set1.difference(set2)

print(x)

{'banana', 'cherry'}

# difference_update( )

This removes the items that exsist in both sets.

**Syntax**

set.difference_update(set)

**Parameter**

Required set to check the difference.

In [34]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

# discard( )

This method removes the specified item from the set. This is different from remove () as it will not raise an error if the specified item doesnt exsist.

**Syntax**

set.discard(value)

**Parameter**

Value will be required for the item to search and remove.

In [35]:
set1 = {"apple","banana","cherry"}
set1.discard("apple")
print (set1)

{'banana', 'cherry'}

# intersection( )

It returns a new set that contains the similarity between two or more sets.

**Syntax**

set.intersection(set1,set2,set3...)

**Parameter**

Required sets to search for equal items.

In [37]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

x = set1.intersection(set2)

print(x)

{'apple'}

In [38]:
x = {'a','b','c'}
y = {'c','d','e'}
z = {'f','g','c'}

a = x.intersection(y,z)

print(a)

{'c'}

# intersection_update ( )

It removes the items that are not present in both sets or all sets. its different from the intersection() method as it returns a new set, without the unwanted items but the intersection_update( ) removes the unwanted items from the original set.

**Syntax**

set.intersection_update(set1,set2,....etc.)

**Parameter**

Sets are required in order to remove for equal items.

In [39]:
x = {'a','b','c'}
y = {'c','d','e'}
z = {'f','g','c'}

x.intersection_update(y,z)

print(x)

{'c'}

# isdisjoint( )

It returns a new set True if none of the items are present in both sets, otherwise it returns False.

**Syntax**

set.isdisjoint(set)

**Parameter**

Set is Required to search for equal items.

In [42]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft"}

x = set1.isdisjoint(set2)

print(x)

True

# issubset( )

This method returns True if all items in the set exsists in the specified set, otherwise it returns False.

**Syntax**

set.issubset(set)

**Parameter**

Set required to search for equal items.

In [45]:
x = {"a","b","c"}
y = {"f","e","d","c","b","a"}

z = x.issubset(y)

print(z)

True

# issuperset( )

It returns True if all items in the specified set exist in original set, otherwise it returns False.

**Syntax**

set.issuperset(set)

**Parameter**

Set is required to search for equal items.

In [50]:
x = {"a","b","c"}
y = {"f","e","d","c","b","a"}

z = y.issuperset(x)

print(z)

True

# pop( )

Removes a random item from the set 

**Syntax**

set.pop()

**Parameter**

Not Required.

In [51]:
set1 = {"apple","banana","cherry"}
set1.pop()
print(set1)

{'banana', 'cherry'}

# remove( )

It removes a specified item from the set.

**Syntax**

set.remove(item)

**Parameter**

Item required that needs to be removed.

In [52]:
set1 = {"apple","banana","cherry"}
set1.remove("banana")
print(set1)

{'apple', 'cherry'}

# symmetric_difference( )

It returns a new set that contains all items from both set, but not the items that are present in both sets.

**Syntax**

set.symmetric_difference(set)

**Parameter**

Set required to check for matches.

In [54]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

x = set1.symmetric_difference(set2)

print(x)

{'banana', 'cherry', 'google', 'microsoft'}

# symmetric_difference_update( )

It updates the original set by removing items that are present in both sets, and inserting the other items.

**Syntax**

set.symmetric_difference_update(set)

**Parameter**

Set required to check for matches in.

In [55]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'cherry', 'google', 'microsoft'}

# union( )

This method returns a set that contains all items from the original set and all items from the specified set. Duplicates are excluded.

**Syntax**

set.union(set1,set2.....etc.)

**Parameter**

Sets required. The iterable to unify with.

In [56]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

x = set1.union(set2)

print(x)

{'banana', 'cherry', 'apple', 'google', 'microsoft'}

# update ( )

It updates the current set, by adding items from another set or any other iterable. If an item is present in both sets, only one apperance of this item will be present in the updated set.

**Syntax**

set.update(set)

**Parameter**

Set required, The iterable insert into the current set.

In [57]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}

set1.update(set2)

print(set1)

{'banana', 'cherry', 'apple', 'google', 'microsoft'}

In [58]:
#Exercise

#Check if "apple" is present in the fruits sets.

fruits = {"apple","banana","cherry"}

if "apple" in fruits:
    print("yes! apple is present")

yes! apple is present

In [61]:
#Use add method to add "orange" to the fruits set

fruits = {"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [62]:
#Use the correct method to add multiple items to the fruits 

fruits = {"apple","banana","cherry"}
more_fruits = {"orange","mango","grapes"}

fruits.update(more_fruits)

print(fruits)

{'mango', 'orange', 'banana', 'cherry', 'apple', 'grapes'}

In [63]:
#Use the remove method to remove "banana" from the fruits set

fruits = {"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

In [64]:
#Use the discard method to remove "banana" from the fruits set.

fruits = {"apple","banana","cherry"}
fruits.discard("banana")
print(fruits)

{'apple', 'cherry'}