# Tuple 

Tuples are used to store multiple items in a single variable. It is a collection which is **ordered** and **unchangeable** and **allow duplicate values**. These are enclosed with round brackets. Tuple items are indexed, the first item has index [0], the second item has index [1] etc 


# Ordered

It means that the items have a defined order and it will not change.

# Unchangeable 

It means that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates

Since tuples are indexed, they can have items with the same value.

In [1]:
mytuple = ("apple","banana","cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [2]:
#Duplicate

mytuple = ("apple","banana","cherry",'apple',"cherry")
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Tuple Length 

We will use len() function to determine the lenght

In [3]:
mytuple = ("apple","banana","cherry",'apple',"cherry")
print(len(mytuple))

5

# Create Tuple with one item 

To create a tuple with only one item, you have to add a comma after the item, otherwise python will not reconize it as a tuple.

In [4]:
#Tuple

mytuple = ("apple",)
print(type(mytuple))

<class 'tuple'>

In [5]:
#Not a Tuple

mytuple = ("apple")
print(type(mytuple))

<class 'str'>

# Tuple Items - Data Types 

Tuple items can be of any data types.

In [7]:
#String, Int, boolean 

tuple1 = ("apple","orange","cherry")
tuple2 = (1,3,5,7,9)
tuple3 = (True, False, True, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

A tuple can have different data types.

In [9]:
tuple1 = ("1",'orange',"True")
print(type(tuple1))

<class 'tuple'>

# The Tuple( ) constructor 

We can also use the tuple() constructor to make a tuple.

In [10]:
# Using a tuple method to make a tuple 

tuple1 = tuple(("apple","banana","cherry"))
print(tuple1)

('apple', 'banana', 'cherry')

# Access Tuple items 

You can access tuple items by referring to the index number, inside square brackets.

In [12]:
tuple1 = ("apple","orange","cherry")
print(tuple1[1])

orange

# Negative Indexing

In [13]:
tuple1 = ("apple","orange","cherry")
print(tuple1[-1])

cherry

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

In [14]:
tuple1 = ("apple","orange","cherry","pineapple","mango","kiwi")
print(tuple1[2:5])

('cherry', 'pineapple', 'mango')

In [17]:
tuple1 = ("apple","orange","cherry","pineapple","mango","kiwi")
print(tuple1[:4])

('apple', 'orange', 'cherry', 'pineapple')

In [18]:
tuple1 = ("apple","orange","cherry","pineapple","mango","kiwi")
print(tuple1[2:])

('cherry', 'pineapple', 'mango', 'kiwi')

# Range of negative indexes

In [19]:
tuple1 = ("apple","orange","cherry","pineapple","mango","kiwi")
print(tuple1[-4:-1])

('cherry', 'pineapple', 'mango')

# Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword

In [21]:
# Check if apple is present in the tuple 

tuple1 = ("apple","orange","cherry","pineapple","mango","kiwi")
if "apple" in tuple1:
    print("Yes!,'apple' is in tuple1")

Yes!,'apple' is in tuple1

# Update Tuples 

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created. But there are some work arounds. We can covert a tuple into a list, change the list, and covert the list back into a tuple.

In [22]:
#Convert the tuple into a list to be able to change it 

x = ("apple","orange","cherry")
y = list(x)

y[1] = "kiwi"
x = tuple(y)
print (x)

('apple', 'kiwi', 'cherry')

# Add to a Tuple

In [23]:
#Convert the tuple into a list, add orange and convert it back into a tuple 

x = ("apple","banana","cherry")
y = list(x)

y.append("orange")
x = tuple(y)

print(x)

('apple', 'banana', 'cherry', 'orange')

# Add tuple to a tuple

In [24]:
#Create a new tuple with the value orange and add the tuple 


x = ("apple","banana","cherry")
y = ("orange",)

x += y 

print(x)

('apple', 'banana', 'cherry', 'orange')

# Remove items 

You cannot remove items from a tuple but you can use the same workaround as for changing and adding tuple.

In [25]:
#Convert the tuple into a list , remove "apple" and convert it back into a tuple 

x = ("apple","banana","cherry")
y = list(x)

y.remove("apple")
x = tuple(y)

print(x)

('banana', 'cherry')

In [27]:
# Delete the tuple using del 

x = ("apple","banana","cherry")
del x 
print(x)

#it will create an error as the tuple doesnt exsist anymore.

NameError: name 'x' is not defined

# Unpack Tuples 

When we create tuple, we assign values to it. This is called "packing" a tuple. But in python we are also allowed to extract the values back into variables. This is called unpacking.

In [28]:
fruits = ("apple","banana","cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

# Using Asterisk*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.

In [29]:
#Assign the rest of the values as a list called "red"

fruits = ("apple","banana","cherry","strawberry","raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [30]:
fruits = ("apple","banana","cherry","strawberry","raspberry")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

# Loop through a Tuple

In [31]:
#Iterate through the items and print the values 

fruits = ("apple","banana","cherry","strawberry","raspberry")

for x in fruits:
    print(x)

apple
banana
cherry
strawberry
raspberry

# Loop Through the index numbers 

You can also loop through the tuple items by referring to their index numbers.
We will use range () and len () functions to create a suitable iterable.

In [33]:
#Print all items by referring to their index numbers 

fruits = ("apple","banana","cherry","strawberry","raspberry")
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
strawberry
raspberry

# Using While loop 

We can also loop through a tuple items by using a while loop.
Use the len() function to determine the length of tuple. Start at 0 and start the index by 1 after each iteration.

In [34]:
#Print all the items, using a while loop to go through all the index numbers

fruits = ("apple","banana","cherry","strawberry","raspberry")

i = 0 
while i < len(fruits):
    print(fruits[i])
    i = i + 1

apple
banana
cherry
strawberry
raspberry

# Join Tuples 

To join two or more tuples you can use the + operator.

In [35]:
tup1 = (1,2,3,4,5)
tup2 = ("a","b","c","d")

tup3 = tup1 + tup2

print(tup3)

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

# Multiply Tuple 

If you want to multiply the content of a tuple a given number of times, we can use the * operator.

In [36]:
#Multiply the tuple with 2 

fruits = ("apple","banana","cherry","strawberry","raspberry")
x = fruits * 2
print(x)

('apple', 'banana', 'cherry', 'strawberry', 'raspberry', 'apple', 'banana', 'cherry', 'strawberry', 'raspberry')

# Tuple Methods 

Python has two in built methods that you can use on tuples.

**count( )** : Returns the number of times a specified value occurs in a tuple 

**index**    : Searches the tuple for a specified value and returns the position of where it was found.

In [37]:
# Count 

fruits = ("apple","banana","cherry","strawberry","raspberry","cherry","strawberry","raspberry")
x = fruits.count("cherry")

print(x)

# Value id required for the parameter.

2

In [38]:
#Index
#Search the first occurence of 8 in this tuple 

tup = (1,2,5,3,8,5,1,8,9,0,2)
x = tup.index(8)
print(x)
#it finds the first occurrence of the specified value. A value is required for the paramenter to search for

4

In [39]:
#Exercises

#Use the correct syntax to print the first item in the fruits tuple 

fruits = ("apple","banana","cherry","strawberry","raspberry")
print(fruits[0])

apple

In [40]:
#Use the correct syntax to print the number of items in the tuple 

fruits = ("apple","banana","cherry","strawberry","raspberry")
print(len(fruits))

5

In [41]:
#Use negative indexing to print the last item in the tuple 

fruits = ("apple","banana","cherry","strawberry","raspberry")
print (fruits[-1])

raspberry

In [42]:
#Use a range of indexes to print the third, fourth and fifth item in the tuple 
fruits = ("apple","banana","cherry","strawberry","raspberry","cherry","strawberry")
print(fruits[2:5])

('cherry', 'strawberry', 'raspberry')